a {
	color: #000;
	text-decoration:none;
}

ul{
	text-align:left;
	padding:0;
	margin:0;
}

li{
	list-style:none;
}

h5, h6{
	font-weight: normal;
}
a:hover{
	text-decoration:underline;
	color: #fff;
}

body {
	text-align: center;
	background-color: #66CCFF;
}
body h1 {
	background-color: #6699FF;
	font-weight: normal;
}

.navigation{
}

#container {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.rect{
	border: 3px double #6699FF;
    padding: 20px;
    display: inline-block;
}

.multi {
	min-height:200px;
	float:left;
	margin:0 5px;
}

form input {
	display: block;
	margin: 10px 0px 10px 0;
}

.inviteForm input{
	display:inline-block;
}

.greetings{
	color:green;
}


